body
  font-family: 'Raleway', sans-serif
.aspect-ratio
  height: 0
  overflow: hidden
  padding-top: 5.8%
  position: relative
  background: white
  width: 100vw
  max-width: 100vw
  max-height: 500px
  .aspect-inside
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: contain
    background-repeat: no-repeat
.loader
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: fixed
  z-index: 9999
  top: 0
  bottom: 0
  background: whitesmoke
  img
    width: 220px
    margin-bottom: 24px
  p
    font-weight: 600
    font-size: 18px
.caroucelRoot
  .slick-arrow
    color: black !important
    &::before
      font-size: 32px !important
  .slick-next
    right: 15px
  .slick-prev
    left: 15px
    z-index: 1000
  .slick-slide
    
.sanfonas
  display: flex
  align-items: end
  justify-content: space-between
  width: 100%
  text-decoration: none !important
  color: black
.paralex
  height: 164px
.resizer
  margin: 0px
  background: url("../img/SVG/Logo/3.svg")
  background-repeat: no-repeat
  height: 164px
  background-position: 50% 0%
  background-size: 60%
.titleDubts
  height: 100px
  margin: 32px 0px
.multiple-items
  .slick-list
    .slick-track
      // width: 100% !important
.clasarWho
  .diviserWho
    border: 3px solid #FCC00E
    margin: 32px
    background: url("../img/SVG/Logo/3.svg")
    background-repeat: no-repeat
    height: 500px
    background-position: -5% 100%
    background-size: 15%
    h5
      width: fit-content
      margin: 0px auto
      background: white
      transform: translateY(-14px)
      padding: 0px 24px
      font-size: 30px
      font-weight: 600
    .fullSpaceImg
      display: flex
      height: 200px
      img
        object-fit: cover
        width: 100%
    .floaterIten
      position: absolute
      width: 40px
      height: 40px
      display: flex
      align-items: center
      justify-content: center
      background: #fcc00d
      top: 45%
      span
        font-weight: 600
        font-size: 19px
    .textsContent
      p
        &:first-of-type
          font-size: 19px
          font-weight: 600
        &:last-of-type
          font-weight: 200
.benefImg
  display: flex
  max-width: 100%
  height: 450px
  img
    object-fit: cover
    width: 100%
.beneficContent
  h2
    font-weight: bold
    font-size: 38px
    text-transform: uppercase
  img
    width: 62px
  .insiderBenefc
    p
      width: 90%
      &:first-of-type
        margin-top: 8px
        margin-bottom: 8px
        font-size: 19px
        font-weight: 600
      &:last-of-type
        font-weight: 200
.multiple-items
  .contentVideo
    text-align: center
  .slick-arrow
    color: black !important
    top: 40%
    &::before
      font-size: 32px !important
  .slick-next
    right: 30px
  .slick-prev
    left: 15px
    z-index: 1000
  .thumbvds
    display: flex
    height: 180px
    img
      max-width: 100%
      width: 100%
      object-fit: cover
  a
    text-decoration: none !important
    .texter
      color: rgba(0,0,0,0.80)
.testimonials
  .contentrs
    width: 52%
    margin: 8px auto
    padding: 16px 0px
    .ballon
      font-weight: bold
      font-size: 22px
      color: rgba(0,0,0,0.80)
      text-align: center
      line-height: 32px
      &::before
        content: url('../img/Blockquotes.svg')
        position: relative
        left: -8px
        top: -8px
    .donwPart
      display: flex
      align-items: center
      justify-content: center
      p.name
        font-size: 18px
        color: #FCC00E
        text-transform: uppercase
        margin-right: 8px
      p.work
        font-size: 18px
        color: rgba(0,0,0,0.48)
        text-transform: uppercase
footer
  .allLogo
    text-align: center
    margin: 0px auto
    margin-bottom: 32px
    img
      width: 170px
  .estructure
    h5
      font-size: 17px
      color: #000000
      font-weight: bold
    ul
      list-style: none
      margin: 0px
      padding: 0px
      li
    .redes
      display: flex
      align-items: center
      justify-content: space-between
      width: 70%
      li
        img
          width: 40px
  .lastThing
    text-align: center
    font-size: 15px
    color: #797979
    margin-top: 24px
.getbag
  background: #FCC00E
  color: black
  border: 0px #FCC00E
  -webkit-box-shadow: 0px 0px 10px 0px rgba(231,166,26,1)
  -moz-box-shadow: 0px 0px 10px 0px rgba(231,166,26,1)
  box-shadow: 0px 0px 10px 0px rgba(231,166,26,1)
