$delta-light-gray: #303030
$delta-gray: #808080
$delta-ease-gray: #F8F8F8
$delta-green: #00b35a
$delta-gold: #F2C94C
$delta-white: #ffffff
$delta-blue: #1E3B5B
$delta-black: black
$delta-yellow: yellow
$delta-pink: pink
$delta-brown: brown

@each $color, $value in (brown, $delta-brown), (pink, $delta-pink), (yellow, $delta-yellow), (white, $delta-white), (blue, $delta-blue), (black, $delta-black), (light-gray, $delta-light-gray), (gray, $delta-gray), (green, $delta-green), (ease-gray, $delta-ease-gray), (gold, $delta-gold)
  .background-#{$color}
    background-color: $value !important

  .color-#{$color}
    color: $value !important

  .border-color-#{$color}
    border: 1px solid  $value !important

  hr.color-#{$color}
    border-color: $value !important
