.reducerContent
  max-width: 80%
.selfForSpace
  margin: 4.8em 0em
@media screen and (max-width: 608px)
  h1
    color: black
@media screen and (max-width: 420px)
  // .multiple-items
  //   height: 220px
  //   overflow: hidden
  //   .draggable
  //     height: 200px
  //     overflow: hidden
  //     .slick-track
  //       height: 200px
  //       overflow: hidden
  //   .slick-list
  //     .slick-track
  //       width: 3708px !important
  .caroucelRoot
    .slick-slide
      a
        height: 200px
  .sanfonas
    align-items: center
    h5
      font-size: 16px
      margin: 0px
  .resizer
    height: auto
  .titleDubts
    height: auto
    margin: 12px 0
  footer
    .estructure
      margin-bottom: 16px
      .redes
        width: 80%
        margin: 0px auto
  .testimonials
    .contentrs
      width: 100%
      .ballon
        font-size: 19px
        font-weight: 600
  .reducerContent
    max-width: 100%
  .selfForSpace
    margin: 2em 0em
  .clasarWho
    .diviserWho
      border: 1px solid #FCC00E
      margin: 8px 0px
      background: none
      height: auto
      .floaterIten
        top: 45%
        width: 43px
        height: 43px
      .textsContent
        p
          &:first-of-type
            font-size: 19px
            font-weight: 600
            margin-top: 16px
          &:last-of-type
            font-weight: 200
            height: 72px
            overflow: hidden
  .benefImg
    display: none
  .beneficContent
    h2
      font-size: 30px
      text-align: center
      text-transform: inherit
    .detachMobile
      display: flex
      flex-direction: column
      align-items: flex-end
      .insiderBenefc
        text-align: right
        p
          width: 100%
